@font-face {
	font-family: 'Gilroy-Bold';
	src: url(./fonts/Gilroy-Bold.woff2);
}
@font-face {
	font-family: 'Gilroy-Semibold';
	src: url(./fonts/Gilroy-Semibold.woff2);
}
@font-face {
	font-family: 'Gilroy-Medium';
	src: url(./fonts/Gilroy-Medium.woff2);
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* стили контейнера */
.container {
	width: 1170px;
	margin: 0 auto;
}

/* тут была оечатка */
nav {
	display: flex;
	justify-content: space-between;
	width: 533px;
	/* height: 17px;
	top: -356px;
	left: 71px;
	border: 1px; */
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* width: 1170px; */
	/* height: 40px;
	top: -367px;
	left: -566px;
	border: 1px; */
}

/* .header_logo{
	width: 137px;
	height: 40px;
	margin-left: 375px;
	margin-top: 40px;
} */

header {
	/* padding: 39px 0;
	margin-bottom: 160px; */
	margin-top: 40px;
	margin-bottom: 84px;
}

.navigation_link {
	font-family: 'Gilroy-SemiBold';
	font-size: 14px;
	line-height: 16px;

	color: #000000;
}

.navigation_link_active {
	font-family: 'Gilroy-SemiBold';
	font-size: 14px;
	line-height: 16px;

	color: #f25822;
}

body {
	box-sizing: border-box;
	scroll-behavior: smooth;
	background: #ffffff;
	font-family: 'Gilroy-Bold', sans-serif;
	font-style: normal;
	font-weight: 600;
}

img {
	max-width: 100%;
	display: block;
}

main {
	margin-bottom: 162px;
}

/* тут опечатка */
.content_wrapper {
	display: flex;
	/* justify-content: center; */
	justify-content: space-between;
}

.content-block {
	width: 522px;
	/* height: 374px; */
	/* margin-top: -243px;
	margin-left: -568px;
	border-radius: 50px; */
}

.content_title {
	width: 522px;
	height: 222px;

	font-family: 'Gilroy-Bold';
	font-size: 60px;
	line-height: 70px;
}

.content_description {
	width: 466px;
	/* height: 48px; */

	font-family: 'Gilroy-Medium';
	font-size: 20px;
	line-height: 23px;
	opacity: 0.7;
	color: #888888;
	margin-bottom: 50px;
}

.content_buttons {
	display: flex;
	gap: 70px;
}

.content_button_chosen {
	width: 140px;
	height: 50px;

	font-family: 'Gilroy-Bold';
	font-size: 15px;
	line-height: 18px;
	color: #ffffff;

	background: #f25822;
	box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
	border-radius: 50px;
}

.content_button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;

	font-family: 'Gilroy-Bold';
	font-size: 15px;
	line-height: 18px;

	color: #aaaaaa;
}

footer {
}

.logos {
}
