@font-face {
	font-family: 'Gilroy-Bold';
	src: url(./fonts/Gilroy-Bold.woff2);
}
@font-face {
	font-family: 'Gilroy-Semibold';
	src: url(./fonts/Gilroy-Semibold.woff2);
}
@font-face {
	font-family: 'Gilroy-Medium';
	src: url(./fonts/Gilroy-Medium.woff2);
}

@font-face {
	font-family: 'Gilroy-Regular' ;
	src: url(./fonts/Gilroy-Regular.woff2);
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* стили контейнера */
.container {
	width: 1170px;
	margin: 0 auto;
}

/* тут была оечатка */
nav {
	display: flex;
	justify-content: space-between;
	width: 533px;
	/* height: 17px;
	top: -356px;
	left: 71px;
	border: 1px; */
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* width: 1170px; */
	/* height: 40px;
	top: -367px;
	left: -566px;
	border: 1px; */
}

/* .header_logo{
	width: 137px;
	height: 40px;
	margin-left: 375px;
	margin-top: 40px;
} */

header {
	/* padding: 39px 0;
	margin-bottom: 160px; */
	margin-top: 40px;
	margin-bottom: 84px;
}

.navigation_link {
	font-family: 'Gilroy-SemiBold';
	font-size: 14px;
	line-height: 16px;

	color: #000000;
}

.navigation_link_active {
	font-family: 'Gilroy-SemiBold';
	font-size: 14px;
	line-height: 16px;

	color: #f25822;
}

body {
	box-sizing: border-box;
	scroll-behavior: smooth;
	background: #ffffff;
	font-family: 'Gilroy-Bold', sans-serif;
	font-style: normal;
	font-weight: 600;
}

img {
	max-width: 100%;
	display: block;
}

main {
	
}

/* тут опечатка */
.content_wrapper {
	display: flex;
	/* justify-content: center; */
	justify-content: space-between;
	margin-bottom: 162px;
}

.content-block {
	width: 522px;
	/* height: 374px; */
	/* margin-top: -243px;
	margin-left: -568px;
	border-radius: 50px; */
}

.content_title {
	width: 522px;
	height: 222px;

	font-family: 'Gilroy-Bold';
	font-size: 60px;
	line-height: 70px;
}

.content_description {
	width: 466px;
	/* height: 48px; */

	font-family: 'Gilroy-Medium';
	font-size: 20px;
	line-height: 23px;
	opacity: 0.7;
	color: #888888;
	margin-bottom: 50px;
}

.content_buttons {
	display: flex;
	gap: 70px;
}

.content_button_chosen {
	width: 140px;
	height: 50px;

	font-family: 'Gilroy-Bold';
	font-size: 15px;
	line-height: 18px;
	color: #ffffff;

	background: #f25822;
	border: none;
	border-radius: 50px;
}

.content_button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;

	font-family: 'Gilroy-Bold';
	font-size: 15px;
	line-height: 18px;

	color: #aaaaaa;
}

article{
	margin-bottom: 100px;
}

.logos {
	display: flex;
	justify-content: space-between;
}

.features{
	display: flex;
	justify-content: space-around;
}

.feature_card{
width: 370px;
height: 291px;
padding: 40px 30px 25px 30px;
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.card_title{
font-family: 'Gilroy-Bold';
font-size: 24px;
line-height: 28px;
letter-spacing: 0em;

}

.card_description{
color: #666;
font-size: 15px;
font-family: 'Gilroy-Regular';
font-style: normal;
font-weight: 400;
line-height: 150%;
}

.rm_button{
border: none;
background: none;
outline: none;
cursor: pointer;

font-family: Gilroy-Bold;
font-size: 11px;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
}

.shadowbox{
background: #FFF;
box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.services_wrapper{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 162px;
	background-color: #FAFAFA;
}

.services_title{
font-family: 'Gilroy-Bold';
font-size: 45px;
line-height: 53px;
letter-spacing: 0em;
padding-top: 92px;
text-align: center;
}

.services_description{
color: #666;
width: 682px;
text-align: center;
font-size: 16px;
font-family: Gilroy-Regular;
font-style: normal;
font-weight: 400;
line-height: 150%;
padding-top: 19px;
margin: 0 auto;
padding-bottom: 54px;
}

.services_cards{
	display: flex;
	justify-content: space-around;
}

.services_card{
	width: 370px;
	height: 549px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
	flex-shrink: 0;
	padding: 0px 30px 50px 30px;
	border-radius: 1.5px;
	text-align: center;
	background: #ffffff;
}

.service_button {
	width: 150px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Gilroy-Bold';
	font-size: 13px;
	line-height: 19.5px;
	color: #ffffff;
	margin: 0 auto;
	background: #f25822;
	border: none;
	border-radius: 50px;
}

.shadowbox_services{
	background: #FFF;
	box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

